<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Url" value="https://mediacomplete.github.io/download/version.txt"/>
        <add key="DownloadBehavior" value="Prompt"/>
        <add key="DownloadUrl" value="https://mediacomplete.github.io/download/MediaComplete.exe"/>
        <add key="InstallLocation" value=""/>
        <add key="DownloadLocation" value=""/>
    </appSettings>
</configuration>