<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MSOE.MediaComplete.Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MSOE.MediaComplete.Lib.Properties.Settings>
            <setting name="HomeDir" serializeAs="String">
                <value>C:\library\</value>
            </setting>
            <setting name="InboxDir" serializeAs="String">
                <value>C:\inboxForLibrary\</value>
            </setting>
            <setting name="PollingTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsPolling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInputDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSorting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShouldRemoveOnImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaylistDir" serializeAs="String">
                <value>Playlists</value>
            </setting>
            <setting name="MusicDir" serializeAs="String">
                <value>Music</value>
            </setting>
            <setting name="Layout" serializeAs="String">
                <value>layout\Pink.xaml</value>
            </setting>
            <setting name="SortingOrder" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Artist</string>
                        <string>Album</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AllDirs" serializeAs="String">
                <value>C:\library\</value>
            </setting>
        </MSOE.MediaComplete.Lib.Properties.Settings>
    </userSettings>
</configuration>